<nav>
    <ul class="nav">
        <div class="container nav__list">
<li><a href="/"><img src="https://e739e2fb18d7eef7132ae42ed4074b06.cdn.bubble.io/f1706423659687x143795025814408940/Logo.svg" alt="Flash Guys Cleaning Company Logo"></a></li>
<li><a href="#">Services</a></li>
<li><a href="#">Subscription</a></li>
<li><a href="#">Support</a></li>
<li><a href="#">Coupons</a></li>
<li><a href="#">About us</a></li>
<li><a href="#">FAQ</a></li>
<li><a href="/blog">Blog</a></li>
</div>
    </ul>
</nav>