<nav class="header">
    <div class="container nav">
        <div class="nav__left">
            <a href="/"><img
                    src="https://e739e2fb18d7eef7132ae42ed4074b06.cdn.bubble.io/f1706423659687x143795025814408940/Logo.svg"
                    alt="Flash Guys Cleaning Company Logo"></a>
            <ul class="nav__list">
                <li><a href="#">Services</a></li>
                <li><a href="#">Subscription</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Coupons</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </div>
        <div class="nav__right">
            <button>Book now</button>
            <button>Login</button>
            <button>Sign up</button>
            <button>Dashboard</button>
            <!-- User's Profile Menu -->
            <button class="profile-picture">
                <img src="/assets/images/blog/img-1.jpg" alt="Placeholder" width="48px">
            </button>
            <!-- Profile Dropdown -->
            <div class="profile__dropdown">
                <ul role="list">
                    <header>
                        <li role="listitem">
                            <div class="profile-picture"><img src="/assets/images/blog/img-1.jpg" alt="Placeholder"
                                    width="48px"></div>
                        </li>
                        <div>
                            <li role="listitem">Ana Florentino</li>
                            <li role="listitem">abmflorentino@gmail.com</li>
                        </div>
                    </header>
                    <div>
                        <li role="link"><a href="#">Profile</a></li>
                        <li role="link"><a href="#">Subscription <span>Weekly</span></a></li>
                        <li role="link"><a href="#">Cleanings</a></li>
                    </div>
                    <div>
                        <li role="link"><a href="#">Help</a></li>
                        <li role="link"><a href="#"><button>Logout</button></a></li>
                    </div>
                </ul>
            </div>
            <div class="nav__hamburger">
                <!-- Ícone de hambúrguer -->
                <button class="hamburger-btn">
                    <span class="material-symbols-rounded">menu</span>
                </button>
                <!-- Ícone de fechar (X) -->
                <button class="close-btn">
                    <span class="material-symbols-rounded">close</span>
                </button>
            </div>
        </div>
    </div>
</nav>