<nav class="header">
    <div class="container nav">
        <div class="nav__left">
            <a href="/"><img
                    src="https://e739e2fb18d7eef7132ae42ed4074b06.cdn.bubble.io/f1706423659687x143795025814408940/Logo.svg"
                    alt="Flash Guys Cleaning Company Logo"></a>
            <ul class="nav__list">
                <li><a href="#">Services</a></li>
                <li><a href="#">Subscription</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Coupons</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </div>

        <div class="nav__right">
            <!-- Botões de login e signup -->
            <button class="book-now">Book now</button>
            <button class="dashboard hide">Dashboard</button>
            <button class="login-btn">Login</button>
            <button class="signup-btn">Sign up</button>

            <!-- ? Profile Dropdown ? -->
            <div class="nav__picture hide" id="profile-picture">
                <img src="/assets/images/blog/img-1.jpg" alt="Placeholder">
            </div>
            <!-- Profile Dropdown -->
            <div class="nav__dropdown hide" id="profile-dropdown">
                <div class="nav__dropdown__menu">
                    <div class="user-info">
                        <div class="nav__picture">
                            <img src="/assets/images/blog/img-1.jpg" alt="Placeholder">
                        </div>
                        <h2>Ana Florentino</h2>
                        <p>abmflorentino@gmail.com</p>
                    </div>
                    <div class="user-actions">
                        <ul>
                            <li><a href="#">Cleanings</a></li>
                            <li><a href="#">Profile</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Botões do hambúrguer -->
            <div class="nav__hamburger">
                <button class="hamburger-btn">
                    <span class="material-symbols-rounded">menu</span> <!-- Ícone do hambúrguer -->
                </button>
                <button class="close-btn hide">
                    <span class="material-symbols-rounded">close</span> <!-- Ícone de fechar -->
                </button>
            </div>
        </div>
    </div>
</nav>
