@use '../abstracts/variables' as vars;

.button {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: transparent;
    border-radius: 0.25rem;
    cursor: pointer;
    white-space: nowrap; // Impede quebra de linha no texto
    transition: background-color 0.3s, border-color 0.3s;

    &--primary {
        background-color: vars.$primary-500;
        color: vars.$bg-color;


        &:hover {
            background-color: vars.$primary-400;
        }
    }

    &--secondary {
        background-color: transparent;
        color: vars.$text-500;
        border: 1.5px solid vars.$text-500;


        &:hover {
            background-color: transparent;
            border: 1.5px solid vars.$text-400;
            color: vars.$text-400;
        }
    }

    &--tertiary {
        background-color: transparent;
        color: vars.$text-500;
        border: 1.5px solid vars.$primary-500;


        &:hover {
            background-color: transparent;
            border: 1.5px solid vars.$primary-500;
            color: vars.$text-400;
        }
    }

    &--small {
        padding: 0.4rem 1rem;
        font-size: .8rem;
        font-weight: 500;
    }
}
