@use '../abstracts/variables' as vars;

.link {
    color: vars.$accent-500;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    &:hover {
        color: vars.$accent-600;

    }
}

.menu-link {
    text-decoration: none;
    padding: 0.4rem 1rem;
    font-size: .8rem;
    font-weight: 500;
    border-radius: 0.25rem;
    color: vars.$text-400;

    &:hover {
    color: vars.$text-500;
    background-color: vars.$neutrals-50;

    }
}