@use '../abstracts/variables' as vars;

.link {
    color: vars.$accent-500;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    &:hover {
        color: vars.$accent-600;

    }
}