// Paginação teste
.pagination {
    display: flex;
    gap: 10px;
    margin-top: 20px;

    a {
        text-decoration: none;
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        color: #007acc;

        &:hover {
            background-color: #f0f0f0;
        }
    }

    .current-page {
        padding: 5px 10px;
        border: 2px solid #007acc;
        /* Borda mais grossa para destaque */
        border-radius: 4px;
        background-color: #007acc;
        color: #fff;
        font-weight: bold;
        /* Deixa o número em negrito */
        cursor: default;
        /* Remove a interatividade */
    }

    .disabled {
        padding: 5px 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #f9f9f9;
        color: #aaa;
        cursor: not-allowed;
    }
}
