---
pagination:
  data: collections.posts
  size: 4
  alias: paginatedPosts
permalink: /blog/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}
layout: layouts/base.html
title: Latest posts
---


<div class="container">
<nav class="pagination-links">
  <ol class="pagination-links__list">
    <li class="pagination-links__list__item"><a href="/">Home ></a></li>
    <li class="pagination-links__list__item"><a href="#">Blog</a></li>
  </ol>
</nav>
<h1>{{ title }}</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque cum distinctio earum, libero similique rerum assumenda eius esse sit impedit quae cumque, laborum ratione hic! Nam animi nesciunt excepturi dicta.</p>

<!-- Featured Articles -->
<div class="featured-container">
  <div class="column left">
    <div class="image-container">
      <img src="/assets/images/blog/img-1.jpg" alt="Image Placeholder" />
    </div>
  </div>
  <div class="column right">
    <div class="image-container">
      <img src="/assets/images/blog/img-1.jpg" alt="Image Placeholder" />
    </div>
    <div class="image-container">
      <img src="/assets/images/blog/img-1.jpg" alt="Image Placeholder" />
    </div>
  </div>
</div>

<!-- Read All Articles -->
 <section>
  <h2>All articles</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum expedita, dignissimos mollitia, illum qui, eos provident repellendus laborum alias atque delectus dolores neque accusantium maxime eligendi obcaecati repudiandae. Quasi, minima!</p>
  <button>View all</button>
  <div class="articles">
  <ol role="list" class="articles__list">
    <li role="article">
      <article class="articles__list__item">
        <div>
          <img src="/assets/images/blog/img-1.jpg" alt="Image Placeholder">
        </div>
        <h3>Article Title</h3>
        <span>Categorie</span>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, ducimus? In eveniet ratione doloribus rem. Beatae nulla id deserunt, sequi numquam neque quis minima quas hic cum aliquam obcaecati repudiandae! <button>Read all</button> </p>
        <span>Dec 10, 2024</span>
      </article>
    </li>
    <li role="article">
      <article class="articles__list__item">
        <div>
          <img src="/assets/images/blog/img-1.jpg" alt="Image Placeholder">
        </div>
        <h3>Article Title</h3>
        <span>Categorie</span>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, ducimus? In eveniet ratione doloribus rem. Beatae nulla id deserunt, sequi numquam neque quis minima quas hic cum aliquam obcaecati repudiandae! <button>Read all</button> </p>
        <span>Dec 10, 2024</span>
      </article>
    </li>
    <li role="article">
      <article class="articles__list__item">
        <div>
          <img src="/assets/images/blog/img-1.jpg" alt="Image Placeholder">
        </div>
        <h3>Article Title</h3>
        <span>Categorie</span>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, ducimus? In eveniet ratione doloribus rem. Beatae nulla id deserunt, sequi numquam neque quis minima quas hic cum aliquam obcaecati repudiandae! <button>Read all</button> </p>
        <span>Dec 10, 2024</span>
      </article>
    </li>
    <li role="article">
      <article class="articles__list__item">
        <div>
          <img src="/assets/images/blog/img-1.jpg" alt="Image Placeholder">
        </div>
        <h3>Article Title</h3>
        <span>Categorie</span>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, ducimus? In eveniet ratione doloribus rem. Beatae nulla id deserunt, sequi numquam neque quis minima quas hic cum aliquam obcaecati repudiandae! <button>Read all</button> </p>
        <span>Dec 10, 2024</span>
      </article>
    </li>
  </ol>
</div>
 </section>


<!-- * Loop de Conteúdo de Todos os Posts do Site * -->
<section class="articles">
  <h2>All articles</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae commodi facilis mollitia, earum porro veniam consequuntur eos et, eaque consequatur sit veritatis corporis placeat at excepturi iusto ipsum. Molestias, cumque.</p>
  <button>View all</button>
  <ol role="list" class="articles__list">
    {% for post in paginatedPosts %}
      <li role="article" class="articles__list__item">
        <a href="{{  post.url }}">
        <article>
          <div>
            <img src="{{ post.data.image}}" alt="{{ post.data.imageAlt}}">
          </div>
          <h3>{{ post.data.title }}</h3>
          <span>{{ post.data.categories }}</span>
          <p>{{ post.data.description }}</p>
        </article>
      </a>
      </li>
      {% endfor %}
  </ol>
</section>

<!-- Paginação funcionando! -->
<div class="pagination">
  <!-- Link para página anterior -->
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}" class="enabled">← Página Anterior</a>
  {% else %}
    <span class="disabled">← Página Anterior</span>
  {% endif %}

  <!-- Números das páginas -->
  {% for pageNumber in pagination.pages %}
    {% if pageNumber === pagination.pageNumber %}
      <span class="current-page">{{ loop.index }}</span>
    {% else %}
      <a href="{{ pagination.hrefs[loop.index0] }}">{{ loop.index }}</a>
    {% endif %}
  {% endfor %}

  <!-- Link para próxima página -->
  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}" class="enabled">Próxima Página →</a>
  {% else %}
    <span class="disabled">Próxima Página →</span>
  {% endif %}
</div>
</div>
