* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Axiforma;
    color: #344051;
    ul {
        li {
            list-style: none;
        }
    }
    img {
        font-style: italic;
        color: rgb(88, 88, 88);
        max-width: 100%;
        height: auto;
    }
}
