<!DOCTYPE html>
<html lang="en">

<head>
    {% include "basehead.html" %}
    {%block head %}{% endblock %}
</head>

<body>
    <header>
        {% include "navbar.html" %}
    </header>
    <main>
        {{ content | safe }}
    </main>
</body>

<!--* Scripts *-->
<!-- Menu Nav -->
<script src="/assets/scripts/navbar.js"></script>
<script src="/assets/scripts/menu-nav.js"></script>
<script src="/assets/scripts/accordion.js"></script>
<script src="/assets/scripts/services.js"></script>
<script src="/assets/scripts/scroll-x.js"></script>
<script src="/assets/scripts/included.json"></script>
<!-- Shoelace -->
<script type="module"
src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.19.0/cdn/shoelace-autoloader.js"></script>
<!-- Testimonials -->
<script type="module" src="/assets/scripts/main.js"></script>

</html>