<!DOCTYPE html>
<html lang="en">

<head>
{% include "basehead.html" %}
{%block head %}{% endblock %}
</head>

<body>
    <header>
        {% include "header.html" %}
    </header>
    <main>
        {{ content | safe }}
    </main>
</body>

<!--* Scripts *-->
<!-- Menu Nav -->
<script src="/assets/scripts/menu-nav.js"></script>
<script src="/assets/scripts/accordion.js"></script>
<script src="/assets/scripts/services.js"></script>
<script src="/assets/scripts/scroll-x.js"></script>
<script src="/assets/scripts/included.json"></script>
<!-- Testimonials -->
<script type="module" src="/assets/scripts/main.js"></script>
</html>