// abstracts/_mixins.scss
@use "sass:map";
@use "sass:list";
@use 'variables' as vars;

@mixin responsive-font-map($element) {
  @if map.has-key(vars.$font-styles, $element) {
    $styles: map.get(vars.$font-styles, $element);

    // Extrai os tamanhos para o clamp()
    $sizes: map.get($styles, sizes);
    font-size: clamp(
      list.nth($sizes, 1),
      list.nth($sizes, 2),
      list.nth($sizes, 3)
    );

    // Aplica line-height
    $line-height: map.get($styles, line-height);
    line-height: $line-height;

    // Aplica letter-spacing
    $letter-spacing: map.get($styles, letter-spacing);
    letter-spacing: $letter-spacing;
  } @else {
    @warn "Estilos de fonte para #{$element} não encontrados.";
  }
}
