$font-styles: (
  h1: (
    sizes: (1.8rem, 4vw, 3rem),
    line-height: 1.2,
    letter-spacing: -0.005em
  ),
  p: (
    sizes: (1rem, 2.5vw, 1.2rem),
    line-height: 1.5,
    letter-spacing: 0em
  ),
);